@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, #9EC1A3, #CFE0C3);
}

div#cores{
    margin-top: 30px;
    display: flex;
}

.md {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    border: 3px solid gray;
}

.md:hover{
    border: 2px solid green;
    box-sizing: border-box;
}

div#dia{
    background-image: linear-gradient(to bottom, #9EC1A3, #CFE0C3);
}

div#noite{
    background-image: linear-gradient(to bottom, #000000, #000011);
}

div#calculadora {
    padding: 15px;
    border-radius: 5px;
    width: 400px;
    height: 450px;
    background-color: #1C1C1C;
}

div#caixap {
    border: 1px solid white;
    border-radius: 5px;
    background-color: black;
    width: 395px;
    height: 110px;
    margin-bottom: -40px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

div.caixasmini{
    width: 350px;
    height: 40px;
    margin-right: 5px;
    margin-top: 5px;
    align-self: flex-end ;
    display: flex;
    justify-content: right;

}

div#prev{
    margin-top: 23px;
    color: rgba(255, 255, 255, 0.377);
}

table {
    width: 400px;
    padding-top: 50px;
}

.botao {
    border: 1px solid black;
    border-radius: 5px;
    height: 80px;
    width: 90px;
    background-color: #EEF0F2;
}

.botao:hover {
    background-color: #56A3A6;
    color: white;
}

#zero {
    width: 192px;
}


@media (max-width: 440px){
    div#calculadora {
        width: 300px;
        height: 450px;
    }

    div#caixap{
        width: 295px
    }

    table {
        width: 300px;
    }

    .botao {
        width: 65px;
    }
    #zero {
        width: 140px;
    }

    #limpar {
        font-size: 18px;
    }
    .caixasmini{
        font-size: 1.1rem;
    }
}

